global:
  scrape_interval:     1s
  evaluation_interval: 1s
  external_labels:
      monitor: prom

scrape_configs:
  - job_name: 'vay'
    scrape_interval: 1s
    static_configs:
      - targets: ['0.0.0.0:9100']
